<h1 class="title-left">Product Details</h1>
<table>                         
  <tr>                          
    <th>Name</th>
    <th>Short description</th>
    <th>Price</th>
    <th>Published</th>
  </tr>
  <tr>
    <td><%= @item.title %></td> 
    <td><%= @item.description %></td> 
    <td><%= @item.price %></td> 
    <td><%= @item.published %></td> 
  </tr>
</table>      